<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>ForgetPassword</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>
	<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css'>
	<link rel="stylesheet" href="/static3/forgetpassword.css">
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
	<!-- partial:index.partial.html -->
	<a id="homelink" href="http://localhost:1234">Home</a></li>
	<a id="registerlink" href="http://localhost:1234/login">Login</a></li>
	<div class="container">
		<div class="screen">
			<div class="screen__content">
				<form action="" method="post" class="login">
					<div class="login__field" id="emaildiv">
						<i class="login__icon fas fa-user"></i>
						<i class="fa fa-close" id="emailcls" onclick="emailcls()"></i>
						<input type="text" id="emailin" class="login__input" name="email" placeholder="Email" required>
					</div>
					<button id="subbut" class="button login__submit">
						<span class="button__text">Send Password</span>
						<i class="button__icon fas fa-chevron-right"></i>
					</button>
				</form>
			</div>
			<div class="screen__background">
				<span class="screen__background__shape screen__background__shape4"></span>
				<span class="screen__background__shape screen__background__shape3"></span>
				<span class="screen__background__shape screen__background__shape2"></span>
				<span class="screen__background__shape screen__background__shape1"></span>
			</div>
		</div>
	</div>
	<!-- partial -->
	<script>
		function emailcls()
		{
			var input = document.querySelector("#emailin");
			input.value = "";
		}
	</script>
</body>

</html>